<div class="row">
    <div class="col-md-12">
        <h2 class="header-align"> Contact Details List</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3 btn-add">

        <button class="btn btn-success" (click)="navigateToContactDetails()">Add Contact</button>
    </div>
</div>
<table class="table col-md-12">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Status</th>
            <th scope="col" class="column-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contactDetails">
            <td>{{contact.FirstName}}</td>
            <td>{{contact.LastName}}</td>
            <td>{{contact.Email}}</td>
            <td>{{contact.Phone}}</td>
            <td>
                {{contact.IsActive ? 'Active' : 'Inactive'}}
            </td>
            <td class="column-center">
                <button type="button" (click)="navigateToContactDetails(contact.Id)" class="btn btn-info btn-grid">
                    Edit
                </button>
                <button type="button"  (click)="deleteContact(contact.Id)" class="btn btn-danger btn-grid">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>