.header-align {
    text-align: center;
}

.btn-add {
    padding: 10px;
    text-align: left;
}

.btn-submit {
    margin-top: 7%;
    padding: 10px;
}

.error {
    color: red;
    font-size: 12px;
}